
                <html>
                <header>
                <title>Fuzzy Wuzzy</title></head> 
                    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
                </header>
                <body>
                <table border="1" class="dataframe dataframe display table table-striped table-bordered table-hover responsive nowrap cell-border compact stripe" id="table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>97100</th>
      <th>97110</th>
      <th>97111</th>
      <th>97113</th>
      <th>97114</th>
      <th>97115</th>
      <th>97116</th>
      <th>97117</th>
      <th>97118</th>
      <th>97119</th>
      <th>97120</th>
      <th>97121</th>
      <th>97122</th>
      <th>97123</th>
      <th>97125</th>
      <th>97126</th>
      <th>97127</th>
      <th>97128</th>
      <th>97129</th>
      <th>97130</th>
      <th>97131</th>
      <th>97139</th>
      <th>97140</th>
      <th>97141</th>
      <th>97150</th>
      <th>97160</th>
      <th>97170</th>
      <th>97180</th>
      <th>97183</th>
      <th>97190</th>
      <th>97211</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>97100</th>
      <td>100</td>
      <td>83</td>
      <td>78</td>
      <td>80</td>
      <td>77</td>
      <td>77</td>
      <td>77</td>
      <td>79</td>
      <td>78</td>
      <td>77</td>
      <td>83</td>
      <td>78</td>
      <td>75</td>
      <td>78</td>
      <td>80</td>
      <td>76</td>
      <td>79</td>
      <td>73</td>
      <td>73</td>
      <td>82</td>
      <td>83</td>
      <td>75</td>
      <td>83</td>
      <td>76</td>
      <td>86</td>
      <td>83</td>
      <td>83</td>
      <td>81</td>
      <td>79</td>
      <td>83</td>
      <td>76</td>
    </tr>
    <tr>
      <th>97110</th>
      <td>83</td>
      <td>100</td>
      <td>81</td>
      <td>80</td>
      <td>80</td>
      <td>87</td>
      <td>83</td>
      <td>86</td>
      <td>88</td>
      <td>80</td>
      <td>83</td>
      <td>81</td>
      <td>75</td>
      <td>78</td>
      <td>73</td>
      <td>76</td>
      <td>76</td>
      <td>77</td>
      <td>77</td>
      <td>82</td>
      <td>86</td>
      <td>79</td>
      <td>83</td>
      <td>83</td>
      <td>83</td>
      <td>87</td>
      <td>80</td>
      <td>81</td>
      <td>76</td>
      <td>87</td>
      <td>83</td>
    </tr>
    <tr>
      <th>97111</th>
      <td>78</td>
      <td>81</td>
      <td>100</td>
      <td>85</td>
      <td>88</td>
      <td>81</td>
      <td>85</td>
      <td>84</td>
      <td>86</td>
      <td>85</td>
      <td>78</td>
      <td>86</td>
      <td>77</td>
      <td>76</td>
      <td>78</td>
      <td>77</td>
      <td>81</td>
      <td>75</td>
      <td>78</td>
      <td>73</td>
      <td>84</td>
      <td>77</td>
      <td>77</td>
      <td>84</td>
      <td>81</td>
      <td>75</td>
      <td>75</td>
      <td>76</td>
      <td>81</td>
      <td>78</td>
      <td>84</td>
    </tr>
    <tr>
      <th>97113</th>
      <td>80</td>
      <td>80</td>
      <td>85</td>
      <td>100</td>
      <td>83</td>
      <td>80</td>
      <td>83</td>
      <td>83</td>
      <td>81</td>
      <td>83</td>
      <td>73</td>
      <td>88</td>
      <td>75</td>
      <td>85</td>
      <td>80</td>
      <td>79</td>
      <td>79</td>
      <td>77</td>
      <td>73</td>
      <td>79</td>
      <td>86</td>
      <td>85</td>
      <td>76</td>
      <td>86</td>
      <td>79</td>
      <td>73</td>
      <td>77</td>
      <td>75</td>
      <td>86</td>
      <td>73</td>
      <td>83</td>
    </tr>
    <tr>
      <th>97114</th>
      <td>77</td>
      <td>80</td>
      <td>88</td>
      <td>83</td>
      <td>100</td>
      <td>80</td>
      <td>83</td>
      <td>83</td>
      <td>81</td>
      <td>83</td>
      <td>77</td>
      <td>85</td>
      <td>75</td>
      <td>75</td>
      <td>77</td>
      <td>76</td>
      <td>79</td>
      <td>77</td>
      <td>73</td>
      <td>75</td>
      <td>83</td>
      <td>75</td>
      <td>83</td>
      <td>86</td>
      <td>79</td>
      <td>73</td>
      <td>73</td>
      <td>78</td>
      <td>79</td>
      <td>73</td>
      <td>83</td>
    </tr>
    <tr>
      <th>97115</th>
      <td>77</td>
      <td>87</td>
      <td>81</td>
      <td>80</td>
      <td>80</td>
      <td>100</td>
      <td>83</td>
      <td>86</td>
      <td>85</td>
      <td>83</td>
      <td>77</td>
      <td>81</td>
      <td>75</td>
      <td>75</td>
      <td>80</td>
      <td>79</td>
      <td>76</td>
      <td>73</td>
      <td>77</td>
      <td>75</td>
      <td>86</td>
      <td>72</td>
      <td>76</td>
      <td>83</td>
      <td>83</td>
      <td>80</td>
      <td>73</td>
      <td>78</td>
      <td>76</td>
      <td>80</td>
      <td>83</td>
    </tr>
    <tr>
      <th>97116</th>
      <td>77</td>
      <td>83</td>
      <td>85</td>
      <td>83</td>
      <td>83</td>
      <td>83</td>
      <td>100</td>
      <td>83</td>
      <td>81</td>
      <td>87</td>
      <td>73</td>
      <td>85</td>
      <td>79</td>
      <td>78</td>
      <td>80</td>
      <td>83</td>
      <td>83</td>
      <td>73</td>
      <td>73</td>
      <td>75</td>
      <td>83</td>
      <td>75</td>
      <td>79</td>
      <td>83</td>
      <td>79</td>
      <td>87</td>
      <td>77</td>
      <td>75</td>
      <td>79</td>
      <td>77</td>
      <td>86</td>
    </tr>
    <tr>
      <th>97117</th>
      <td>79</td>
      <td>86</td>
      <td>84</td>
      <td>83</td>
      <td>83</td>
      <td>86</td>
      <td>83</td>
      <td>100</td>
      <td>88</td>
      <td>83</td>
      <td>79</td>
      <td>84</td>
      <td>75</td>
      <td>77</td>
      <td>76</td>
      <td>79</td>
      <td>86</td>
      <td>76</td>
      <td>76</td>
      <td>78</td>
      <td>89</td>
      <td>78</td>
      <td>79</td>
      <td>86</td>
      <td>79</td>
      <td>79</td>
      <td>86</td>
      <td>77</td>
      <td>79</td>
      <td>79</td>
      <td>86</td>
    </tr>
    <tr>
      <th>97118</th>
      <td>78</td>
      <td>88</td>
      <td>86</td>
      <td>81</td>
      <td>81</td>
      <td>85</td>
      <td>81</td>
      <td>88</td>
      <td>100</td>
      <td>81</td>
      <td>81</td>
      <td>83</td>
      <td>73</td>
      <td>76</td>
      <td>75</td>
      <td>77</td>
      <td>77</td>
      <td>81</td>
      <td>78</td>
      <td>77</td>
      <td>88</td>
      <td>77</td>
      <td>77</td>
      <td>84</td>
      <td>77</td>
      <td>78</td>
      <td>75</td>
      <td>83</td>
      <td>84</td>
      <td>81</td>
      <td>84</td>
    </tr>
    <tr>
      <th>97119</th>
      <td>77</td>
      <td>80</td>
      <td>85</td>
      <td>83</td>
      <td>83</td>
      <td>83</td>
      <td>87</td>
      <td>83</td>
      <td>81</td>
      <td>100</td>
      <td>73</td>
      <td>85</td>
      <td>75</td>
      <td>78</td>
      <td>80</td>
      <td>76</td>
      <td>83</td>
      <td>73</td>
      <td>80</td>
      <td>75</td>
      <td>83</td>
      <td>82</td>
      <td>79</td>
      <td>83</td>
      <td>79</td>
      <td>77</td>
      <td>73</td>
      <td>75</td>
      <td>79</td>
      <td>80</td>
      <td>86</td>
    </tr>
    <tr>
      <th>97120</th>
      <td>83</td>
      <td>83</td>
      <td>78</td>
      <td>73</td>
      <td>77</td>
      <td>77</td>
      <td>73</td>
      <td>79</td>
      <td>81</td>
      <td>73</td>
      <td>100</td>
      <td>85</td>
      <td>79</td>
      <td>81</td>
      <td>83</td>
      <td>83</td>
      <td>83</td>
      <td>83</td>
      <td>83</td>
      <td>85</td>
      <td>79</td>
      <td>72</td>
      <td>83</td>
      <td>79</td>
      <td>86</td>
      <td>83</td>
      <td>80</td>
      <td>85</td>
      <td>79</td>
      <td>87</td>
      <td>76</td>
    </tr>
    <tr>
      <th>97121</th>
      <td>78</td>
      <td>81</td>
      <td>86</td>
      <td>88</td>
      <td>85</td>
      <td>81</td>
      <td>85</td>
      <td>84</td>
      <td>83</td>
      <td>85</td>
      <td>85</td>
      <td>100</td>
      <td>83</td>
      <td>83</td>
      <td>85</td>
      <td>84</td>
      <td>88</td>
      <td>88</td>
      <td>81</td>
      <td>77</td>
      <td>84</td>
      <td>77</td>
      <td>77</td>
      <td>88</td>
      <td>81</td>
      <td>75</td>
      <td>75</td>
      <td>79</td>
      <td>81</td>
      <td>75</td>
      <td>84</td>
    </tr>
    <tr>
      <th>97122</th>
      <td>75</td>
      <td>75</td>
      <td>77</td>
      <td>75</td>
      <td>75</td>
      <td>75</td>
      <td>79</td>
      <td>75</td>
      <td>73</td>
      <td>75</td>
      <td>79</td>
      <td>83</td>
      <td>100</td>
      <td>83</td>
      <td>82</td>
      <td>85</td>
      <td>85</td>
      <td>85</td>
      <td>85</td>
      <td>71</td>
      <td>75</td>
      <td>77</td>
      <td>78</td>
      <td>75</td>
      <td>78</td>
      <td>75</td>
      <td>75</td>
      <td>77</td>
      <td>78</td>
      <td>75</td>
      <td>78</td>
    </tr>
    <tr>
      <th>97123</th>
      <td>78</td>
      <td>78</td>
      <td>76</td>
      <td>85</td>
      <td>75</td>
      <td>75</td>
      <td>78</td>
      <td>77</td>
      <td>76</td>
      <td>78</td>
      <td>81</td>
      <td>83</td>
      <td>83</td>
      <td>100</td>
      <td>88</td>
      <td>84</td>
      <td>88</td>
      <td>85</td>
      <td>85</td>
      <td>83</td>
      <td>88</td>
      <td>83</td>
      <td>81</td>
      <td>77</td>
      <td>77</td>
      <td>78</td>
      <td>78</td>
      <td>76</td>
      <td>84</td>
      <td>78</td>
      <td>81</td>
    </tr>
    <tr>
      <th>97125</th>
      <td>80</td>
      <td>73</td>
      <td>78</td>
      <td>80</td>
      <td>77</td>
      <td>80</td>
      <td>80</td>
      <td>76</td>
      <td>75</td>
      <td>80</td>
      <td>83</td>
      <td>85</td>
      <td>82</td>
      <td>88</td>
      <td>100</td>
      <td>83</td>
      <td>90</td>
      <td>80</td>
      <td>80</td>
      <td>75</td>
      <td>79</td>
      <td>75</td>
      <td>79</td>
      <td>76</td>
      <td>90</td>
      <td>77</td>
      <td>77</td>
      <td>75</td>
      <td>83</td>
      <td>73</td>
      <td>79</td>
    </tr>
    <tr>
      <th>97126</th>
      <td>76</td>
      <td>76</td>
      <td>77</td>
      <td>79</td>
      <td>76</td>
      <td>79</td>
      <td>83</td>
      <td>79</td>
      <td>77</td>
      <td>76</td>
      <td>83</td>
      <td>84</td>
      <td>85</td>
      <td>84</td>
      <td>83</td>
      <td>100</td>
      <td>86</td>
      <td>83</td>
      <td>86</td>
      <td>75</td>
      <td>79</td>
      <td>78</td>
      <td>79</td>
      <td>82</td>
      <td>79</td>
      <td>83</td>
      <td>76</td>
      <td>81</td>
      <td>79</td>
      <td>76</td>
      <td>79</td>
    </tr>
    <tr>
      <th>97127</th>
      <td>79</td>
      <td>76</td>
      <td>81</td>
      <td>79</td>
      <td>79</td>
      <td>76</td>
      <td>83</td>
      <td>86</td>
      <td>77</td>
      <td>83</td>
      <td>83</td>
      <td>88</td>
      <td>85</td>
      <td>88</td>
      <td>90</td>
      <td>86</td>
      <td>100</td>
      <td>83</td>
      <td>83</td>
      <td>78</td>
      <td>79</td>
      <td>78</td>
      <td>82</td>
      <td>79</td>
      <td>82</td>
      <td>79</td>
      <td>83</td>
      <td>77</td>
      <td>82</td>
      <td>76</td>
      <td>82</td>
    </tr>
    <tr>
      <th>97128</th>
      <td>73</td>
      <td>77</td>
      <td>75</td>
      <td>77</td>
      <td>77</td>
      <td>73</td>
      <td>73</td>
      <td>76</td>
      <td>81</td>
      <td>73</td>
      <td>83</td>
      <td>88</td>
      <td>85</td>
      <td>85</td>
      <td>80</td>
      <td>83</td>
      <td>83</td>
      <td>100</td>
      <td>83</td>
      <td>75</td>
      <td>76</td>
      <td>75</td>
      <td>79</td>
      <td>79</td>
      <td>76</td>
      <td>77</td>
      <td>73</td>
      <td>85</td>
      <td>83</td>
      <td>77</td>
      <td>79</td>
    </tr>
    <tr>
      <th>97129</th>
      <td>73</td>
      <td>77</td>
      <td>78</td>
      <td>73</td>
      <td>73</td>
      <td>77</td>
      <td>73</td>
      <td>76</td>
      <td>78</td>
      <td>80</td>
      <td>83</td>
      <td>81</td>
      <td>85</td>
      <td>85</td>
      <td>80</td>
      <td>86</td>
      <td>83</td>
      <td>83</td>
      <td>100</td>
      <td>72</td>
      <td>76</td>
      <td>82</td>
      <td>76</td>
      <td>76</td>
      <td>76</td>
      <td>73</td>
      <td>73</td>
      <td>78</td>
      <td>76</td>
      <td>87</td>
      <td>76</td>
    </tr>
    <tr>
      <th>97130</th>
      <td>82</td>
      <td>82</td>
      <td>73</td>
      <td>79</td>
      <td>75</td>
      <td>75</td>
      <td>75</td>
      <td>78</td>
      <td>77</td>
      <td>75</td>
      <td>85</td>
      <td>77</td>
      <td>71</td>
      <td>83</td>
      <td>75</td>
      <td>75</td>
      <td>78</td>
      <td>75</td>
      <td>72</td>
      <td>100</td>
      <td>85</td>
      <td>77</td>
      <td>85</td>
      <td>78</td>
      <td>81</td>
      <td>82</td>
      <td>82</td>
      <td>87</td>
      <td>81</td>
      <td>82</td>
      <td>78</td>
    </tr>
    <tr>
      <th>97131</th>
      <td>83</td>
      <td>86</td>
      <td>84</td>
      <td>86</td>
      <td>83</td>
      <td>86</td>
      <td>83</td>
      <td>89</td>
      <td>88</td>
      <td>83</td>
      <td>79</td>
      <td>84</td>
      <td>75</td>
      <td>88</td>
      <td>79</td>
      <td>79</td>
      <td>79</td>
      <td>76</td>
      <td>76</td>
      <td>85</td>
      <td>100</td>
      <td>81</td>
      <td>79</td>
      <td>86</td>
      <td>79</td>
      <td>79</td>
      <td>79</td>
      <td>77</td>
      <td>86</td>
      <td>79</td>
      <td>86</td>
    </tr>
    <tr>
      <th>97139</th>
      <td>75</td>
      <td>79</td>
      <td>77</td>
      <td>85</td>
      <td>75</td>
      <td>72</td>
      <td>75</td>
      <td>78</td>
      <td>77</td>
      <td>82</td>
      <td>72</td>
      <td>77</td>
      <td>77</td>
      <td>83</td>
      <td>75</td>
      <td>78</td>
      <td>78</td>
      <td>75</td>
      <td>82</td>
      <td>77</td>
      <td>81</td>
      <td>100</td>
      <td>75</td>
      <td>78</td>
      <td>78</td>
      <td>72</td>
      <td>75</td>
      <td>73</td>
      <td>85</td>
      <td>82</td>
      <td>75</td>
    </tr>
    <tr>
      <th>97140</th>
      <td>83</td>
      <td>83</td>
      <td>77</td>
      <td>76</td>
      <td>83</td>
      <td>76</td>
      <td>79</td>
      <td>79</td>
      <td>77</td>
      <td>79</td>
      <td>83</td>
      <td>77</td>
      <td>78</td>
      <td>81</td>
      <td>79</td>
      <td>79</td>
      <td>82</td>
      <td>79</td>
      <td>76</td>
      <td>85</td>
      <td>79</td>
      <td>75</td>
      <td>100</td>
      <td>86</td>
      <td>86</td>
      <td>90</td>
      <td>83</td>
      <td>84</td>
      <td>79</td>
      <td>83</td>
      <td>86</td>
    </tr>
    <tr>
      <th>97141</th>
      <td>76</td>
      <td>83</td>
      <td>84</td>
      <td>86</td>
      <td>86</td>
      <td>83</td>
      <td>83</td>
      <td>86</td>
      <td>84</td>
      <td>83</td>
      <td>79</td>
      <td>88</td>
      <td>75</td>
      <td>77</td>
      <td>76</td>
      <td>82</td>
      <td>79</td>
      <td>79</td>
      <td>76</td>
      <td>78</td>
      <td>86</td>
      <td>78</td>
      <td>86</td>
      <td>100</td>
      <td>79</td>
      <td>76</td>
      <td>76</td>
      <td>81</td>
      <td>79</td>
      <td>76</td>
      <td>86</td>
    </tr>
    <tr>
      <th>97150</th>
      <td>86</td>
      <td>83</td>
      <td>81</td>
      <td>79</td>
      <td>79</td>
      <td>83</td>
      <td>79</td>
      <td>79</td>
      <td>77</td>
      <td>79</td>
      <td>86</td>
      <td>81</td>
      <td>78</td>
      <td>77</td>
      <td>90</td>
      <td>79</td>
      <td>82</td>
      <td>76</td>
      <td>76</td>
      <td>81</td>
      <td>79</td>
      <td>78</td>
      <td>86</td>
      <td>79</td>
      <td>100</td>
      <td>83</td>
      <td>83</td>
      <td>84</td>
      <td>86</td>
      <td>83</td>
      <td>79</td>
    </tr>
    <tr>
      <th>97160</th>
      <td>83</td>
      <td>87</td>
      <td>75</td>
      <td>73</td>
      <td>73</td>
      <td>80</td>
      <td>87</td>
      <td>79</td>
      <td>78</td>
      <td>77</td>
      <td>83</td>
      <td>75</td>
      <td>75</td>
      <td>78</td>
      <td>77</td>
      <td>83</td>
      <td>79</td>
      <td>77</td>
      <td>73</td>
      <td>82</td>
      <td>79</td>
      <td>72</td>
      <td>90</td>
      <td>76</td>
      <td>83</td>
      <td>100</td>
      <td>80</td>
      <td>81</td>
      <td>76</td>
      <td>87</td>
      <td>83</td>
    </tr>
    <tr>
      <th>97170</th>
      <td>83</td>
      <td>80</td>
      <td>75</td>
      <td>77</td>
      <td>73</td>
      <td>73</td>
      <td>77</td>
      <td>86</td>
      <td>75</td>
      <td>73</td>
      <td>80</td>
      <td>75</td>
      <td>75</td>
      <td>78</td>
      <td>77</td>
      <td>76</td>
      <td>83</td>
      <td>73</td>
      <td>73</td>
      <td>82</td>
      <td>79</td>
      <td>75</td>
      <td>83</td>
      <td>76</td>
      <td>83</td>
      <td>80</td>
      <td>100</td>
      <td>85</td>
      <td>76</td>
      <td>80</td>
      <td>76</td>
    </tr>
    <tr>
      <th>97180</th>
      <td>81</td>
      <td>81</td>
      <td>76</td>
      <td>75</td>
      <td>78</td>
      <td>78</td>
      <td>75</td>
      <td>77</td>
      <td>83</td>
      <td>75</td>
      <td>85</td>
      <td>79</td>
      <td>77</td>
      <td>76</td>
      <td>75</td>
      <td>81</td>
      <td>77</td>
      <td>85</td>
      <td>78</td>
      <td>87</td>
      <td>77</td>
      <td>73</td>
      <td>84</td>
      <td>81</td>
      <td>84</td>
      <td>81</td>
      <td>85</td>
      <td>100</td>
      <td>84</td>
      <td>81</td>
      <td>77</td>
    </tr>
    <tr>
      <th>97183</th>
      <td>79</td>
      <td>76</td>
      <td>81</td>
      <td>86</td>
      <td>79</td>
      <td>76</td>
      <td>79</td>
      <td>79</td>
      <td>84</td>
      <td>79</td>
      <td>79</td>
      <td>81</td>
      <td>78</td>
      <td>84</td>
      <td>83</td>
      <td>79</td>
      <td>82</td>
      <td>83</td>
      <td>76</td>
      <td>81</td>
      <td>86</td>
      <td>85</td>
      <td>79</td>
      <td>79</td>
      <td>86</td>
      <td>76</td>
      <td>76</td>
      <td>84</td>
      <td>100</td>
      <td>76</td>
      <td>79</td>
    </tr>
    <tr>
      <th>97190</th>
      <td>83</td>
      <td>87</td>
      <td>78</td>
      <td>73</td>
      <td>73</td>
      <td>80</td>
      <td>77</td>
      <td>79</td>
      <td>81</td>
      <td>80</td>
      <td>87</td>
      <td>75</td>
      <td>75</td>
      <td>78</td>
      <td>73</td>
      <td>76</td>
      <td>76</td>
      <td>77</td>
      <td>87</td>
      <td>82</td>
      <td>79</td>
      <td>82</td>
      <td>83</td>
      <td>76</td>
      <td>83</td>
      <td>87</td>
      <td>80</td>
      <td>81</td>
      <td>76</td>
      <td>100</td>
      <td>76</td>
    </tr>
    <tr>
      <th>97211</th>
      <td>76</td>
      <td>83</td>
      <td>84</td>
      <td>83</td>
      <td>83</td>
      <td>83</td>
      <td>86</td>
      <td>86</td>
      <td>84</td>
      <td>86</td>
      <td>76</td>
      <td>84</td>
      <td>78</td>
      <td>81</td>
      <td>79</td>
      <td>79</td>
      <td>82</td>
      <td>79</td>
      <td>76</td>
      <td>78</td>
      <td>86</td>
      <td>75</td>
      <td>86</td>
      <td>86</td>
      <td>79</td>
      <td>83</td>
      <td>76</td>
      <td>77</td>
      <td>79</td>
      <td>76</td>
      <td>100</td>
    </tr>
  </tbody>
</table>
                <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
                <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
                <script>
                    $(document).ready( function () {
                        $('#table').DataTable({
                            // paging: false,    
                            // scrollY: 400,
                        });
                    });
                </script>
                </body>
                </html>
                