{% load static %}
<html lang="en">
<head>
<title>Add files</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'users/css/users.css' %}">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <link rel="shortcut icon" href="../../static/img/phylEntropie_p.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    </head>
<body>
    {% include 'phylEntropy/navbar.html' %}

<div class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-12">
        <div id="content">
            {% include 'phylEntropy/message.html' %}
            {% block content %}  {% endblock content %}
        </div>
            <p><h1>Django File Upload Save to Mysql Database</h1></p>
            <form method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formulaire.as_p}}

                <button name="upload" type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
        {% for file in files %}
            {% if file.username == user.username %}
                <div class="font-monospace" value="{{ file.file }}">
                    <div class="mt-4">
                        {{ file.file }}
                        <button class="bg-blue-500 rounded">
                            <a href="{% url 'delete-file' file.pk %}">
                                Delete file
                            </a>
                        </button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}


    </div>
</div>
</body>
<script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 2000)
  </script>
</html>