{% comment %}
{% extends "header.html" %}
{% endcomment %}
{% load crispy_forms_tags %}
{% block content %}
    <head>
        <title>Sign Up</title>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <link rel="shortcut icon" href="../../static/img/karubionet2favicon.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    </head>
        {% include 'phylEntropy/navbar.html' %}

    <div class="container-fluid" style="background-color: #ffffff;" >
            <!--BANDEAU -->
        <div class="container" id="Page1" style="background-color: #ffffff;">
            <div class="col-lg-12" style="padding-top: 70px;">

                        <!-- FIN TABULATION -->
                    <!--PIED DE PAGE -->
                <div style="text-align: center;">
                    <table class="footer" width="100%" border="0">
                    </table>
                </div>
            </div>
            <div class="row justify-content-center">
                    <div class="col-md-auto col-sm-auto">
                        <h1 style="text-align: center;">Join phylEntropy Today</h1>
                        <div class="content-section">
                            <form method="POST">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4"></legend>
                                    {{ form|crispy }}
                                </fieldset>
                                By registering, you accept the Terms of Service and Privacy Notice
                                <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                                </div>
                            </form>
                            <div class="border-top pt-3">
                                <small class="text-muted">
                                    Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
                                </small>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock content %}