{% extends 'base.html' %}
{% block content %}
 <div id="myDiv">
 </div>
<style>
#myDiv
{
        background-color: #ffffff;
}
</style>
{% endblock %}


{%block javascripts %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
var data={{data}};
var cpt=0;
var entete={{entete_colonne_selected | safe }};
results=[];
data.forEach(function(element)
{
  var trace =
  {
      y: element,
      type: 'box',
      name: entete[cpt],
      boxpoints: 'all',
      jitter: 0.5,
      whiskerwidth: 0.2,
      fillcolor: 'cls',
      marker:
      {
          size: 2
      },
      line:
      {
          width: 1
      }
  };
 results.push(trace);
 cpt+=1;

});

Plotly.newPlot('myDiv', results);


</script>
{% endblock %}