{% load static %}

<head>
  {% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <link rel="shortcut icon" href="../static/img/karubionet2favicon.png" />
  <title>Hunter-Gaston</title>
  {% endblock %}
</head>

{% block content %}
<script src="https://unpkg.com/vis-network@9.1.0/standalone/umd/vis-network.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link href="https://unpkg.com/browse/vis-network@9.1.0/styles/vis-network.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<style>
  #hunter-gaston {
    background-color: #ffffff;
    text-align: center;


  }

  #mylegend {
    float: left;
    width: 400px;
    height: 600px;
  }
</style>
{% endblock%}
{%block javascripts %}

<script type="text/javascript">
  $(function () {
    $(document).ready(function () {
      $('#example').DataTable();
    });
  });

  var table = {{ minimal_tree | safe}};
  labelSeq = {{ label_reduce | safe }};
  var nodes = [];
  var dico = new Map();

  var firstcolumn = window.opener.parent.array.length;
  var reachID = window.opener.parent.array[window.opener.parent.array.length - firstcolumn];
  var lastItem = window.opener.parent.array[window.opener.parent.array.length - 2];

  // Début HGDI
  var retrievedObject = sessionStorage.getItem('TableauduCSV');

  damienitem = JSON.parse(retrievedObject).length

  var hdgi1 = [];
  var hdgi2 = [];

  for (var i = 0; i < damienitem; i++) {
    damien = JSON.parse(retrievedObject)[i];

    var numberstraintested = damien.length;
    var difftypenum = [], count = 0;
    var numberstrainpertype = {};


    if (difftypenum[damien] == undefined) {
      difftypenum[damien] = 1;
      count++;
    }

    damien.forEach(function (x) { numberstrainpertype[x] = (numberstrainpertype[x] || 0) + 1; });

    for (const [key, value] of Object.entries(numberstrainpertype)) {
      console.log(`${key}: ${value}`);
      sumStrain(numberstrainpertype[`${key}`])
    }

    //fonction permettant de compter le nombre de souches dans une colonne
    function sumStrain(a) {
      var total = 0;
      for (var k in a) {
        total += a[k] * (a[k] - 1);
      }
      return total;
    }
    //fin fonction

    //compte le nombre total de souche dans la colonne
    var SumNumbDiffStrain = sumStrain(numberstrainpertype);

    //calcul découpé en deux partie car je n'ai pas réussi à l'écrire en une seule fois
    hdgi1.push(1 / (numberstraintested * (numberstraintested - 1)));
    hdgi2.push(1 - (hdgi1[i] * SumNumbDiffStrain));
  }
// Fin HGDI
</script>

<div class="container-fluid" style="background-color: #a6aaa9;">
  <h1 style="text-align: center;">Hunter-Gaston</h1>
  <div class="col-lg-10" style="float:none;margin:auto;background-color: #ffffff;">
    <div class="container">
      <div id="tab_data" class="table-responsive">
        <form id="form1" autocomplete="off" method="POST" action="">

          <table id="example" style="width:100%" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col" class="col-3">Column tested</th>
                <th scope="col" class="col-3">HGDI value</th>
              </tr>
            </thead>
            <tbody id="tbody"></tbody>

            <script>

              var toto = sessionStorage.getItem('test_head');

              var tata = JSON.parse(toto);

              var re = /\s*(\t|$)\s*/;

              var nameList = tata.split(re);

              nameList.forEach((item, index, arr) => {
                if (item === "\t") {
                  arr.splice(index, 1);
                }
              });

              var tbody = document.getElementById('tbody');

              for (var i = 0; i < hdgi2.length; i++) {
                var tr = "<tr>";
                tr += "<td>" + nameList[i + 1] + "</td>" + "<td>" + hdgi2[i] + "</td></tr>";
                tbody.innerHTML += tr;
              }</script>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

</div>
</div>