<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>


<div style="margin-top: 1em;">
    {% if error %}
     <div class="row">
        <p class="text-danger"><strong>Le format du fichier est invalide.</strong></p>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="#" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group files">
                <label class="text-primary">Upload Your File </label>
                <input name="csv_file" id="csv_file" type="file" class="form-control" multiple="">
                </div>
                <button name="import" type="submit"  class="offset-md-6 btn btn-primary" > Valider </button>

            </form>
        </div>
    </div>
</div>
{% if info_submit %}

<div class="container" style="margin-bottom: 1em;">
    <div id="tab_data" class="row" style="position: relative; table-layout: auto;">
        <form  id="form1" autocomplete="off" method="POST" action="" >
            {% csrf_token %}
            <table id="example" style="width:100%;" class="display table table-striped table-bordered table-hover responsive nowrap cell-border compact stripe" cellspacing="0" cellpadding="0">
            {% for row in fichier %}
            {% if forloop.first %}

                <thead>
                     <tr>
                        <!-- Ajout checkboxes "select all" -->
                        <input type="checkbox" id="option-all" onchange="checkAll(this)">
                        <label for="option-all">Select All</label>
                        <br>

                        <div class="row">
                            <button name="store" type="button" id="store" class="col-md-3 offset-md-3 btn btn-primary" > Store </button>
                            <button name="reset" type="button" id="reset" class="col-md-3 offset-md-2 btn btn-primary" > Reset </button>
                        </div>
                        <br>
                        <!-- Fin ajout-->
                        <tr id="test_head">
                        {% for column in row %}
                            <th>{{column}}</th>
                        {% endfor %}
                    </tr>
                    </tr>

                    <tr class="column-selector">
                        {% for column in row %}
                            <th > <input type="checkbox"> </th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% else %}
                    <tr>
                    {% for column in row %}
                        <td>{{column}}</td>
                    {% endfor %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        <script>
            $(document).ready(function() {
                $(".dropdown-toggle").dropdown();
                });
        </script>

            <!--le onclick permet de savoir le nom du button submited-->
            <div>
                <h6>Graph :
                    <input id="submit1" name="kruskal" class="btn btn-primary" type="submit" value="kruskal" onclick="this.form.submited=this.value;" >
                    <input id="submit2" name="upgma"   class="btn btn-primary" type="submit" value="upgma" onclick="this.form.submited=this.value;" >
                    <input id="submit3" name="neighbor-joining"   class="btn btn-primary" type="submit" value="neighbor-joining" onclick="this.form.submited=this.value;" >
                    <input id="submit12" name="Wordcloud"   class="btn btn-primary" type="submit" value="Wordcloud" onclick="this.form.submited=this.value;" >
                </h6>
                <h6>Statistics :
                    <input id="submit4" name="boxplot"   class="btn btn-primary" type="submit" value="boxplot" onclick="this.form.submited=this.value;" >
                    <input id="submit5" name="heatmap"   class="btn btn-primary" type="submit" value="heatmap" onclick="this.form.submited=this.value;" >
                </h6>                       
                <h6>Maps :
                    <input id="submit8" name="Global Map"   class="btn btn-primary" type="submit" value="Global Map" onclick="this.form.submited=this.value;" >
                    <input id="submit11" name="Global City Map"   class="btn btn-primary" type="submit" value="Global City Map" onclick="this.form.submited=this.value;" >
                </h6>
                <h6>Metrics :
                    <input id="submit6" name="pca"   class="btn btn-primary" type="submit" value="pca" onclick="this.form.submited=this.value;" >
                    <input id="submit7" name="Entropy"   class="btn btn-primary" type="submit" value="Entropy" onclick="this.form.submited=this.value;" >
                    <input id="submit9" name="Hunter-Gaston"   class="btn btn-primary" type="submit" value="Hunter-Gaston" onclick="this.form.submited=this.value;" >
                    <input id="submit10" name="Shannon-Entropy"   class="btn btn-primary" type="submit" value="Shannon-Entropy" onclick="this.form.submited=this.value;" >
                </h6>
                <h6>Machine Learning :
                    <input id="submit12" name="Regression"   class="btn btn-primary" type="submit" value="Regression" onclick="this.form.submited=this.value;" >
                    <input id="submit12" name="Prediction"   class="btn btn-primary" type="submit" value="Prediction" onclick="this.form.submited=this.value;" >
                    <input id="submit12" name="Decison Tree"   class="btn btn-primary" type="submit" value="Decison Tree" onclick="this.form.submited=this.value;" >
                        <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Action
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Dompteurs</a>
                            <a class="dropdown-item" href="#">Zoos</a>
                            <a class="dropdown-item" href="#">Chasseurs</a>
                          </div>
                        </div>
                </h6>

            </div>       
        </form>
    </div>
    <br/>
    <br/>
</div>
{% endif %}
<style>
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus{    
    outline: 2px dashed #92b0b3;  
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }

.files { 
    position:relative
}

.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input { 
    background-color:#f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 5px;
    left: 15;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " Ou glisser le ici. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

#tab_data {
background-color: #ffffff;
}

table {
color:#0073e6;
font-size: 16px;
}

.column-selector th {
  cursor: pointer;
}
</style>

{% endblock %}

{%block javascripts %}
{{block.super}}
<script>
var data_column_selected=[];
var column_name_selected=[];
var index_column_name_selected=[];
var label=[];
var table = $('#example').DataTable({
       'ordering':false,
       'paging':true,
       'searching':true,
       'select': 'multi',
        scrollX: true,
        scrollCollapse: false,
    });
var checkboxes = document.querySelectorAll("input[type = 'checkbox']");

$(document).ready(function (){
        
     table.column(0).data().each( function ( value, index )
       {
        label.push(value);
       });

    // Handle click event on a checkbox
    $('#example_wrapper').on('click', 'thead .column-selector input[type="checkbox"]', function(e){
        e.stopPropagation();
        var array=[];
        var array2=[];
        var colIdx = $(this).closest('th').index();
        if(this.checked)
        {
            table.column(colIdx).select();
            
        }
        else
        {
            table.column(colIdx).deselect();
        }
        //les données des colonnes sélectionner par l'utilisateurs
        var tmp= table.columns( { selected: true } ).data().each( function ( value, index )
        {
            array.push(value);
            
        } );
        data_column_selected=array;

       /*  $('#store').on('click', function(){
            sessionStorage.setItem('myArray', array);
        });

        $('#get').on('click', function(){
            var myArraytable = sessionStorage.getItem('myArray');
            alert(array);
        }); */
        //les indexes des colonnes selectionné par l'utilisateur
        var tmp2=table.columns({ selected: true }).indexes().each(function ( value)
        {
            array2.push(value);
        });
        index_column_name_selected=array2;
    });

    // Handle click event on header cell containg a checkbox
    $('#example').on('click', 'thead .column-selector th', function(e){
        $('input[type="checkbox"]', this).trigger('click');
    });

//      $(function(){
//    $('#elements input[type="checkbox"]').prop("checked", true).trigger("change");
//      });

});

//js pour faire fonctionner la checkboxes "select all"
var array=[];
var array2=[];
var colIdx = $(this).closest('th').index();

function checkAll(myCheckbox){
    //var IDbutton = document.getElementById("form1")[4];

    if(myCheckbox.checked == true){

        checkboxes.forEach(function(checkbox){
        checkbox.checked = true;
         
        table.columns().select();
            
        });
    }
    else{
        checkboxes.forEach(function(checkbox){
        checkbox.checked = false;
            
        table.columns().deselect();
        
        });
    }
    
     //les données des colonnes sélectionner par l'utilisateurs + on ignore la première colonne du tableau
    var tmp= table.columns().data().each( function ( value, index )
        {
            array.push(value);
        } );

        if(array.length >= 5){
            data_column_selected=array.slice(1);  
        }else{
            data_column_selected=array;
        }
        

     //les indexes des colonnes selectionné par l'utilisateur  on ignore la première colonne du tableau
     var tmp2=table.columns().indexes().each(function ( value)
        {
            array2.push(value);
        });

        if(array2.length >= 5){
            index_column_name_selected=array2.slice(1);  
        }else{
            index_column_name_selected=array2;
        }

    }

    $("#store").click(function(){
        sessionStorage.setItem('TableauduCSV', JSON.stringify(data_column_selected));
        var retrievedObject = sessionStorage.getItem('TableauduCSV');
        console.log('retrievedObject: ', JSON.parse(retrievedObject));        
    })


    $("#reset").click(function(){
        sessionStorage.clear('TableauduCSV');
    })

    var test_head = document.getElementById("test_head"); 

    $("#submit1").click(function(){
        console.log("1:"+array);
        console.log("2:"+data_column_selected);
    })


    $("#submit3").click(function(){
        //data_column_selected = data_column_selected.slice(0, data_column_selected.length-2);
        //data_column_selected.slice(0, data_column_selected.length-2);
        //var retrievedObject = sessionStorage.getItem('TableauduCSV');
        //data_column_selected =  JSON.parse(retrievedObject);
        //console.log("1:" + data_column_selected);
        //index_column_name_selected = array2.slice(0, array2.length-2) ;
        
        //index_column_name_selected = [];
        if (document.getElementById("option-all").checked == true)
	{
		data_column_selected = array.slice(0, array.length-2);
        console.log("2:"+data_column_selected);
        index_column_name_selected = array2.slice(0, array2.length-2);
	}
    })
    
    $("#submit9").click(function(){
        sessionStorage.setItem('test_head', JSON.stringify(test_head.innerText));
    })

    $("#submit10").click(function(){
        sessionStorage.setItem('test_head', JSON.stringify(test_head.innerText));
    })

$(document).on('submit','#form1',function(e)
{
    e.preventDefault();
    var nom_algo= this.submited;
    $.ajax
    ({
        type:'POST',
        url: '{% url 'phylogene_ajax1' %}',
        data:{
                tasks: JSON.stringify(data_column_selected),
                algo: nom_algo,
                labelSeq: JSON.stringify(label),
                entete: JSON.stringify(index_column_name_selected),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
             },
         success: function()
        {
           url_algo ='{% url 'phylogene_run_algo' %}';
           window.open( url_algo , '_blank');
        }
    });

});
</script>

{% endblock %}