{% extends 'base.html' %}
{% load static %}
{% block content %}


<div id="svgCanvas"> </div>
<style>
#svgCanvas
{
    background-color: #ffffff;
}
</style>

{% endblock %}

{%block javascripts %}
{{block.super}}
<script src="{% static 'js/raphael-min.js' %}"></script>
<script src="{% static 'js/jsphylosvg-min.js' %}"></script>
<script>
    str_newick="{{algo_upgma}}"+";";
    dataObject={newick: str_newick};
    phylocanvas = new Smits.PhyloCanvas
    (
    dataObject,
    'svgCanvas',
    1000, 1000
    );
</script>
{% endblock %}