
                                                    <html>
                                                        <head>
                                                          <meta charset="utf-8">
                                                          <meta name="viewport" content="width=device-width, initial-scale=1">
                                                          <title>multip</title>
                                                        </head>
                                                        <body>
                                                            <a href="../static/machine_learning/9c89dd77-5677-400d-ab2a-7696117b56f7.png" download>Link 1</a>                                                      

                                                        </body>
                                                    </html>
                                                