
                                                    <html>
                                                        <head>
                                                          <meta charset="utf-8">
                                                          <meta name="viewport" content="width=device-width, initial-scale=1">
                                                          <title>multip</title>
                                                        </head>
                                                        <body>
                                                            <a href="../static/machine_learning/2d6499d4-18ef-44d8-8cd2-39a0e8af77b4.png" download>Link 1</a>                                                      

                                                        </body>
                                                    </html>
                                                