{% load static %}

<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="shortcut icon" href="../../static/img/karubionet2favicon.png" />
    <title>Neighbor-joining</title>
    {% endblock %}
</head>
{% block content %}
<style>
    #svgCanvas {
        background-color: #ffffff;
    }
</style>
{% endblock %}

<div class="container-fluid" style="background-color: #a6aaa9;">
    <h1 style="text-align: center;">NEIGHBOR_JOINING</h1>
    <div class="col-lg-10" style="float:none;margin:auto;background-color: #ffffff;">
        <div class="container">
            <div id="tab_data" class="table-responsive">
                <form id="form1" autocomplete="off" method="POST" action="">

                    {%block javascripts %}
                    <script src="{% static 'js/raphael-min.js' %}"></script>
                    <script src="{% static 'js/jsphylosvg-min.js' %}"></script>

                    <div id="svgCanvas" style="width: 1000px; height: 1000px; margin: 0 auto;"> </div>

                    <script>
                        str_newick = "{{labels}}" + ";";
                        dataObject = { newick: str_newick };
                        phylocanvas = new Smits.PhyloCanvas
                            (
                                dataObject,
                                'svgCanvas',
                                1000, 1000
                            );
                    </script>

                    <label for="message">Newick Format :</label>
                    <div class="full-width">
                        <textarea id="message" rows="5" cols="150"></textarea>
                    Copy/Paste the text in notepad then name your file with ".tree" as extension.
                    You can use this file in Itol.
                    </div>

                    <script>
                        var textarea = document.getElementById('message');
                        textarea.value = str_newick;
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</div>
</div>