{% extends 'phylEntropy/base.html' %}
{% load static %}

{% block head %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/phylotree.css.tmp' %}">
{% endblock %}

{% block content %}


<svg id="tree_display" ></svg>
<style>
#tree_display
{
    background-color: #ffffff;
}
</style>

{% endblock %}

{%block javascripts %}
{{block.super}}
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" charset="utf-8"></script>
    <script type='text/javascript' src="{% static 'js/phylotree.js' %}"></script>
    <script>
        var height = 400;
        var width = 400;
        str_newick="{{labels}}";
        var tree = d3.layout.phylotree().svg(d3.select("#tree_display"))
        .options({})
        .size([height, width])
        .node_circle_size(0);
        tree(str_newick).layout();
        hljs.initHighlightingOnLoad();

    </script>
{% endblock %}