{% load static %}

<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="shortcut icon" href="../../static/img/phylEntropie_p.png" />
    <title>UPGMA</title>
    {% endblock %}
</head>
{% block content %}
<style>
#svgCanvas
{
    background-color: #ffffff;
}
</style>
{% endblock %}

<div class="container-fluid" style="background-color: #a6aaa9;" >
    <h1 style="text-align: center;" >UPGMA</h1>
    <div class="col-lg-10" style="float:none;margin:auto;background-color: #ffffff;">
     <div class="container">
       <div id="tab_data" class="table-responsive" >
         <form  id="form1" autocomplete="off" method="POST" action="">
         
            {%block javascripts %}
            <script src="{% static 'js/raphael-min.js' %}"></script>
            <script src="{% static 'js/jsphylosvg-min.js' %}"></script>
            
            <div id="svgCanvas" style="width: 1000px; height: 1000px; margin: 0 auto;"> </div>
            
            <script>
                str_newick="{{algo_upgma}}"+";";
                dataObject={newick: str_newick};
                phylocanvas = new Smits.PhyloCanvas
                (
                dataObject,
                'svgCanvas',
                1000, 1000
                );

                /* option pour resize automatiquement
                var height = document.getElementsByTagName("svg")[0].scrollHeight
                var width = document.getElementsByTagName("svg")[0].scrollWidth
                document.getElementById('svgCanvas').setAttribute("style","width:"+ width,+"heigth :"+ height);
                 */
            
            </script>
            
            <!-- <div id="str_newick"> 
                <script> window.document.write(str_newick)</script>
            </div> -->
            <label for="message">Newick Format :</label>
            <div class="full-width">
                <textarea id="message" rows="5" cols="150"></textarea>
                Copy/Paste the text in notepad then name your file with ".tree" as extension.
            You can use this file in Itol.
            </div>
            
            <script>
                var textarea = document.getElementById('message');
                textarea.value = str_newick;
            </script>
            </form>
         </div>
     </div>
    </div>
</div>
{% endblock %} 

</div>
</div>