<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="shortcut icon" href="../../static/img/karubionet2favicon.png" />
<title>Heatmap</title>
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/phylotree.css">
{% endblock %}
<style>
	h1 {
	  text-align: center;
	}

    #myDiv
{
        background-color: #ffffff;
}
</style>	

</head>

<body>
    <div id="myDiv">

    </div>
</body>


{%block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
function generateData(table,entete)
{
      var i = 0;
      var series = [];
      while (i < table.length)
      {

        var x = entete[i];
        var y = table[i];
        console.log(x);
        console.log(y);
        series.push({
          x: x,
          y: y
        });
        i+=1;
      }
      return series;
}
var table= {{rows_bact}};
var series=[];
var labelSeq={{labelSeq|safe}};
var entete={{entete_colonne_selected | safe }};
var cpt=0;
table.forEach(function(element)
{
var tmp={
      name: labelSeq[cpt],
      data: generateData(element,entete)
    }
series.push(tmp);
cpt++;

});
series= series.reverse();

var options = {
      chart: {
        height: 900,
        type: 'heatmap',
      },
      stroke: {
        width: 0
      },
      plotOptions: {
        heatmap: {
          shadeIntensity: 0.5,
          colorScale: {
            ranges: [{
                from: 0,
                to: 1,
                name: '0',
                color: '#ccffff'
              },
                {
                from: 1,
                to: 1,
                name: '1',
                color: '#33cccc'
              },
              {
                from: 2,
                to: 2,
                name: '2',
                color: '#00ffff'
              },
              {
                from: 3,
                to: 3,
                name: '3',
                color: '#0f0fff'
              },
              {
                from: 4,
                to: 4,
                name: '4',
                color: '#006699'
              },
            ],
          },

        }
      },
      dataLabels: {
        enabled: true,
        style: {
          colors: ['#000000']
        }
      },
      series: series,

      xaxis: {
        type: 'category',
      },
      title: {
        text: 'Rounded (Range without Shades)'
      },

    }

    var chart = new ApexCharts(
      document.querySelector("#myDiv"),
      options
    );

    chart.render();

</script>
{% endblock %}